{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="login">&#x2022;Login</a>
            </li>
        </ul>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="register">&#x2022;Register</a>
          </li>
        </ul>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="False">BRANCHES</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kollam">Kollam </a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Ernakulam">Ernakulam </a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kozhikode">Kozhikode </a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thrissur">Thrissur </a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kottayam">Kottayam </a></li>
            </ul>
        </li>

      </div>
  </div>
</nav>
<!--<style>-->
<!--body {-->
<!--  font-family: Arial, Helvetica, sans-serif;-->
<!--}-->

<!--.navbar {-->
<!--  overflow: hidden;-->
<!--  background-color: #333;-->
<!--}-->

<!--.navbar a {-->
<!--  float: left;-->
<!--  font-size: 16px;-->
<!--  color: white;-->
<!--  text-align: center;-->
<!--  padding: 14px 16px;-->
<!--  text-decoration: none;-->
<!--}-->

<!--.dropdown {-->
<!--  float: left;-->
<!--  overflow: hidden;-->
<!--}-->

<!--.dropdown .dropbtn {-->
<!--  font-size: 16px;-->
<!--  border: none;-->
<!--  outline: none;-->
<!--  color: white;-->
<!--  padding: 14px 16px;-->
<!--  background-color: inherit;-->
<!--  font-family: inherit;-->
<!--  margin: 0;-->
<!--}-->

<!--.navbar a:hover, .dropdown:hover .dropbtn {-->
<!--  background-color: red;-->
<!--}-->

<!--.dropdown-content {-->
<!--  display: none;-->
<!--  position: absolute;-->
<!--  background-color: #f9f9f9;-->
<!--  min-width: 160px;-->
<!--  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);-->
<!--  z-index: 1;-->
<!--}-->

<!--.dropdown-content a {-->
<!--  float: none;-->
<!--  color: black;-->
<!--  padding: 12px 16px;-->
<!--  text-decoration: none;-->
<!--  display: block;-->
<!--  text-align: left;-->
<!--}-->

<!--.dropdown-content a:hover {-->
<!--  background-color: #ddd;-->
<!--}-->

<!--.dropdown:hover .dropdown-content {-->
<!--  display: block;-->
<!--}-->
<!--</style>-->

<!--<body style="background-color:white;">-->

<!--<div class="navbar">-->
<!--  <a href="login">Login</a>-->
<!--  <a href="register">Register</a>-->
<!--  <div class="dropdown">-->
<!--    <button class="dropbtn">Branches-->
<!--      <i class="fa fa-caret-down"></i>-->
<!--    </button>-->
<!--    <div class="dropdown-content">-->
<!--      <a href="https://en.wikipedia.org/wiki/Kollam">Link 1</a>-->
<!--      <a href="https://en.wikipedia.org/wiki/Ernakulam">Link 2</a>-->
<!--      <a href="https://en.wikipedia.org/wiki/Kozhikode">Link 3</a>-->
<!--      <a href="https://en.wikipedia.org/wiki/Thrissur">Link 3</a>-->
<!--      <a href="https://en.wikipedia.org/wiki/Kottayam">Link 3</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<header>
    <center>
        <a><img src="{% static 'img/ban.png' %}" alt="ban" width="auto" ></a>
    </center>
</header>